{% extends "admin_panel.html" %}
{% load static %}

{% block title %}Dashboard | Portfolio Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block content %}


<div class="dashboard-container">
    <!-- Page Header -->
    <div class="page-header">
        <div>
            <h1 class="page-title">About</h1>
            <p class="page-subtitle">Welcome back! Here's your portfolio overview</p>
        </div>
    </div>

    <!-- Dashboard Cards -->
     <h1>Nischal Nepal</h1>

</div>


{% endblock %}

